*{
	padding:0px;
	margin:0px;
}


header,nav,aside,article,section,main,footer,{
	display:block;
}

#wrapper{
	margin:0px auto;
	width:1000px;
	background-color:#000000; /*it is for me . dont forget remove this line!*/
	/*display: flex;*/
    /*flex-wrap: wrap;*/
}

.clear{
	clear:both;
}

header,main{width:1000px;}

a{ 
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	font-family:Arial,Helvetica, sans-serif; 
}

ul{list-style-type:none;}

/*header of layout_1*/
.layout1{
	height:171px;
}

/*nav of layout_1*/
#main_nav_layout1{
	width:727px;
	height:57px;
	margin-top:47px;
	float:right;
}

/* logo in layout_1 & layout_2*/
/*.logo*/
header > a{
	width:68px;
	height:67px;
	background: url(../images/logoo.png) no-repeat center center ;
	display:block;
}

.logo1{
	margin-left:104px;
	margin-top:10px; 
 
}

aside{
	width:121px;
	height:696px;
	float:left;
	background-color:#f2dede;
}

/*section of lay1*/
.cover_lay1{
	width:849px;
	height:268px;
	float:left;  
	background-color:#ee5f5b;
	margin-left:30px;
	position:relative;
}

footer{
	background-color:#d6d6d6;
	width:1000px;
}

.footer_lay1{
	height:121px;
}

/*ul in layout 1*/
#main_nav_layout1 ul{
	float:right;}

 /*layout_1*/
.selected,#main_nav_layout2 {
	background-color:#333333;
}

/*nav ul li*/
#main_nav_layout1 ul li{
	float:left;
}

/*#main_nav_layout1 ul li a*/

.selected ,.layout{
	width:242px;
	/*height:57px;*/
	display:block;  
	line-height:57px;
	
}

.layout,.layout2{
	background-color:#b94a48;
}

.box1{
	position:absolute;
	top:89px;
	left:342px;
	width:126px;
	height:94px;
}

#box2{
	position:relative; /*with absolue its not work*/
	top:492px;
	height:175px;
	width:692px;
	left:218px;
	background-color:#666666;
	
}

/*layout number 2 */

#layout2{
	height:193px;
}
.logo2{
	position:relative;
	left:465px;
	top:37px;
	/*bottom:87px;*/
}

#main_nav_layout2 {
	width:243px; 
	height:885px;
	float:left;
}

#main_nav_layout2 li { /*?? */
	display:block;
	/*width:243px;*/
/* רק אם מגדירה רוחב זה מסתדר */
}

.style_nav_2{
	height:58px;
	/*width:238px;*/
	line-height:58px;
	/*display:block;*/
	text-align:left;
	/*padding-left:6px;*/
}

.footer_lay2{
	position:fixed;
	height:50px;
	bottom:0px;
}

.style_cov_2{
	background-color:#ee5f5b;
	height:885px;
	width:757px;
	float:right;
		/*position:relative;*/
	/*bottom:757px;*/
	/*overflow: hidden;*/
}

.style_box{
	background-color:#000000; 
	opacity:0.6;
	/*float:left;*/
}

.style_cov_2 article{
	width:212px;
	position:relative;
}
.box1_lay2{
	height:366px;
	/*margin-left:30px;*/
}

.box2_lay2{
	height:500px;
	margin-top:19px;
	/*margin-left:30px;*/
	/*position:relative;*/
	/*position:relative;*/
	/*left:-241px;*/
	/*top:386px;*/
	
}

.box1_lay2,.box2_lay2{
	margin-left:30px;
}

.box2_lay2,.box4_lay2{
	margin-top:19px;
}

.box3_lay2{
	height:560px;
	/*position:relative;*/
	left:273px;
	top:-885px;
	
	}
	
.box4_lay2{
	height:306px;
	/*position:relative;*/
	left:273px;
	top:-885px;
	/*margin-top:19px;*/


}

.box5_lay2{
	height:223px;
	/*position:relative;*/
	left:513px;
	top:-1770px;
}

/*main{
	width:1000px;
	/*height:758px;*/

