*{
	padding:0px;
	margin:0px;
}


header,nav,aside,article,section,main,footer,{
	display:block;
}

#wrapper{
	margin:0px auto;
	width:1000px;
	/*background-color:#000000; /*it is for me . dont forget remove this line!*/*/
}

.clear{
	clear:both;
}

header,main{width:1000px;}

a{ 
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	font-size:18px;
	font-family:Arial,Helvetica, sans-serif; 
}

ul{list-style-type:none;}

/*header of layout_1*/
/*.layout1*/
#layout_1 header{
height:172px; 
}

/*nav of layout_1*/
/*#main_nav_layout1*/
#layout_1 nav{
	width:727px;
	height:57px;
	margin-top:48px;
	float:right;
}

/* logo in layout_1 & layout_2*/
/*.logo*/
header > a{
	width:68px;
	height:67px;
	background: url(../images/logoo.png) no-repeat center center ;
	display:block;
}

/*.logo1*/
#layout_1 header > a{
	margin-left:104px;
	margin-top:11px; 
 
}

aside{
	width:121px;
	height:696px;
	float:left;
	background-color:#f2dede;
}

/*section of lay1*/
/*.cover_lay1*/
#layout_1 section{
	width:849px;
	height:268px;
	float:left;  
	/*background-color:#ee5f5b;*/
	margin-left:30px;
	position:relative;
}

footer{
	background-color:#d6d6d6;
	width:1000px;
}

section{background-color:#ee5f5b;}

/*.footer_lay1*/
#layout_1 footer{
	height:121px;
}

/*ul in layout 1*/
/*#main_nav_layout1 ul*/
#layout_1 nav ul{
	float:right;}

 /*layout_1*/
/*.selected,#main_nav_layout2*/
.selected,#layout_2 nav{
	background-color:#333333;
}

/*nav ul li*/
/*#main_nav_layout1 ul li*/ /*check this*/
#layout_1 ul li{
	float:left;
}

/*#main_nav_layout1 ul li a*/

.selected ,.layout{
	width:242px;
	height:57px;
	display:block;  
	line-height:57px;
}

.layout,.layout2{
	background-color:#b94a48;
}

/*.box1*/
#layout_1 section article{
	position:absolute;
	top:89px;
	left:342px;
	width:126px;
	height:94px;
}

#layout_1 main{ position:relative;}

/*#layout_1 article {position:absolute;}*/
/*#box2*/
#layout_1 main article{
	position:absolute; /*with absolue its not work*/
	top:492px;
	height:175px;
	width:692px;
	left:218px;
	/*background-color:#666666;*/
}

/*layout number 2 */

/*#layout2*/
#layout_2 header{
	height:193px;
}
/*.logo2*/
#layout_2 header a{
	position:relative;
	left:465px;
	top:37px;
}

/*#main_nav_layout2*/
#layout_2 nav {
	width:243px; 
	height:885px;
	float:left;
}

/*#main_nav_layout2 li*/
#layout_2 nav li  { /*?? */
	display:block;
}

/*.style_nav_2*/
#layout_2 li a{
	height:58px;
	/*width:238px;*/
	line-height:58px;
	/*display:block;*/
	text-align:left;
	padding-left:6px;
}

/*.footer_lay2*/
#layout_2 footer{
	position:fixed;
	height:50px;
	bottom:0px;
}

/*.style_cov_2*/
#layout_2 section{
	/*background-color:#ee5f5b;*/
	height:885px;
	width:757px;
	float:right;
	position:relative;
}

article{
	background-color:#000000; 
	opacity:0.6;
}

/*.style_cov_2 article*/
#layout_2 section article{
	width:212px;
}

.box1_lay2{
	height:366px;
}

.box2_lay2{
	height:500px;
}

.box1_lay2,.box2_lay2{
	margin-left:30px;
}

.box2_lay2,.box4_lay2{
	margin-top:19px;
}

.box3_lay2{
	height:560px;
	position:absolute;
	left:272px;
	bottom:325px;
}
	
.box4_lay2{
	height:306px;
	position:absolute;
	left:272px;
	top:560px;
}

.box5_lay2{
	height:223px;
	position:absolute;
	left:514px;
	bottom:662px;
}
